
#scope-of-work {
    max-width: 2000px;
    margin: auto;
    gap: 5;
}

#scope-of-work .element-container{
    width: 5rem;
    text-align: center;
    font-size: 0.6rem;
    align-items: center;

}

#scope-of-work .element-container > div{
    box-sizing: border-box;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #B87E1B 0%, #F0C660 25%, #B87E1B 47.4%, #F0C660 77.08%, #B87E1B 94.79%);
    padding: 0.1rem;
}

.in-e-c{
    background-color: white;
    width: 4.5rem !important;
    height: 4.5rem !important;
}

#scope-of-work .element-container p{
    text-align: center;
    width: 4rem;
}

#scope-of-work .element-img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    padding: 0.4rem;
}

.scope{
    max-width: 300px;
}

.scope-container{
    margin: auto;
}

.scope p:nth-child(2){
    font-size:1.3rem;
}


@media (max-width: 999px) {
    #scope-of-work {
        width: 95%;
        margin: auto;
    }
    .scope{
        margin-left: 0px !important;
    }
}

@media (max-width: 500px) {
    #scope-of-work {
        width: 95%;
        margin: auto;
    }
    .scope{
        margin-left: 5rem !important;
    }
}


.connector{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    max-width: 100%;
}

.connector img:nth-child(even){
    transform: rotateX(180deg);
}

.connector img:nth-child(1){
    position: absolute;
    left: 350px;
    top: 1rem;
}

.connector img:nth-child(2){
    position: absolute;
    left: 750px;
    top: 1.5rem;
}

.connector img:nth-child(3){
    position: absolute;
    right: 380px;
    top: 14rem;
    transform: rotate(90deg);
    height: 13px;
}

.connector img:nth-child(4){
    position: absolute;
    left: 750px;
    top: 18.5rem;
    transform: rotate(180deg);
}

.connector img:nth-child(5){
    position: absolute;
    left: 350px;
    top: 18rem;
    transform: rotate(180deg) rotateX(-180deg);
}


.connector img:nth-child(6){
    position: absolute;
    left: 200px;
    top: 30rem;
    transform: rotate(90deg)  rotateX(180deg);
    height: 13px;
}

.connector img:nth-child(7){
    position: absolute;
    left: 350px;
    top: 35rem;
    transform: rotateX(180deg);
}

.connector img:nth-child(8){
    position: absolute;
    left: 750px;
    top: 34rem;
    transform: rotateX(0deg);
}


/* Table styling */
.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Table cell styling */
  .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  /* Column size 1 */
  .custom-table .column-1 {
    width: 16.67%; /* 100% divided by 6 columns */
  }
  
  /* Column size 2 */
  .custom-table .column-2 {
    width: 33.33%; /* 100% divided by 3 columns */
  }
  
