#header-container{
    background: linear-gradient(90deg, #000000 19.27%, #B87E1B 153.58%);
    height: 7.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
}

#auth-button{
    border: 2px solid #FFFFFF;
    width: 13rem;
    height: 4rem;
    background: transparent;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-button:hover{
    opacity: 0.8;
}

.nav-item{
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    line-height: 1.2rem;
    letter-spacing: 0em;
}

.nav-item:hover, .nav-active{
    background: linear-gradient(90deg, #F0C660 20.75%, #FFFFFF 79.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger-icon{
    cursor: pointer;
}

.sidebar{
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
   align-items: center;
    padding: 1rem;
    width: 250px;
    background-color: #f9eac4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: slide 0.01s ease-in-out;
    background: linear-gradient(90deg, #000000 19.27%, #B87E1B 153.58%);
}

@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      display: block;
      transform: translateX(0);
    }
  }

.sidebar > ul{
    display: flex;
    flex-direction: column;
}

.sidebar > ul > li:first-child{
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    cursor: pointer;
}

.sidebar > ul > li:first-child:hover{
    opacity: 0.5;
}

.sidebar > ul > li:nth-child(2){
    margin-top: 4rem;
}

.sidebar button {
    background: linear-gradient(90deg, #000000 19.27%, #B87E1B 153.58%) !important;
    color: #ffffff !important;
}

.hidden{
    display: none !important;
}

.small-logo{
    width: 200px;
    position: relative;
    left: -1rem;
}