#work-container{
    /* width: 80vw; */
}

.active-nav{
    border-bottom: 3px solid black;
    font-weight: bold;
}

.disabled{
    display: none;
}

.prev-button, .next-button{
    border-radius: 50%;
    border: 3px solid #ffffff;
    padding: 1rem;
    top: 50%;
    height: 2rem;
    width: 2rem;
    position: relative;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 45.35%, #000000 100%);
}
.prev-button img, .next-button img{
    position: absolute;
    top: 1.4rem;
    left: 1.2rem;
}

.prev-button:hover, .next-button:hover{
    opacity: 0.8;
}

.work-name > p{
    cursor: pointer;
}

.work-name p:hover{
    opacity: 0.8;
}

.prev-button{
    left: 1rem;
}

.next-button{
    right: 1rem;
}

.work-name{
    max-width: 85%;
    padding: 1rem 2rem 1rem 4rem;
    position: relative;
    width: 50rem;
    margin: auto;
}

/* .work-container > div:nth-child(2){
    width: 60rem !important;
} */

.challenge, .solution{
    max-width: 500px;
    width: 45%;
}

.challenge .text-styled, .solution .text-styled{
    font-size: 1.5rem;
}